{% include 'header.html' %}


    <section class="container p-4">
        <div class="text-center p4">
            <img src="/static/images/pic2.jpg" class="p_img" >
            <p class="p_txt"><b>Proprietor :</b> Amar Singh</p>
        </div>
        <div >
            <div class="text-center fw-bold p-2 box " style="font-size:2.8vw;">GET TO KNOW US</div>
            <div class="p-2 in_txt" >
                <ul>
                    <li class="p-1"><b>GDM Construction & Interiors Company</b> working in Turnkey Projects and 
                        Interior execution. We have unmatched capabilities across civil construction 
                        projects, engineering and interiors execution.</li>
                    <li class="p-1">Founded in <b>2014</b>, the company since then has delivered world-class results 
                        for all of its clients. The company has good experience in civil construction 
                        projects and interiors execution.</li>
                    <li class="p-1">We have on board highly experienced staff who have the knowledge and 
                        commitment to deliver quality and timely projects whilst also ensuring a 
                        responsible approach to the environment, safety and quality .</li>
                    <li class="p-1">Our <b>GSTIN: - 06AXMPS8936J1ZM</b> & <b>PAN NO.: - AXMPS8936J</b> . </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="text-center fw-bold p-2 box " style="font-size:2.8vw;">OUR VISION</div>
            <div class="p-2 in_txt" >To continually deliver excellent value & innovative construction solutions to meet 
                our clients' requirements and provide them utmost satisfaction. </div>
        </div>
        <div>
            <div class="text-center fw-bold p-2 box " style="font-size:2.8vw;">OUR MISION</div>
            <div class="p-2 in_txt" >To become the customers' most preferred choice by attaining excellence in quality 
                and timely completed value-added projects.
            </div>
        </div>
    </section>

    
</body>
</html>