{% include 'header.html' %}


<div class="container p-4">
    <div class="text-center fw-bold p-2 box " style="font-size:2.8vw;">CONTACT US</div>
    <div class="text-center p-4" >
        <div class="p-4 cn_txt"><b>Contact No. :</b> +91 9212492450 </div>
        <div class="p-4 cn_txt"><b>Email id :</b> gdmconstruction15@gmail.com </div>
        <div class="p-4 cn_txt"><b>Office address : </b>Opp Dream Mall (Near Pappan Plaza) G.T Road Palwal, Haryana,<br> PIN - 121102</div>
    </div>
</div>

    
</body>
</html>