{% include 'header.html' %}

    <div class="container p-4">
        <div class="text-center fw-bold p-2 box " style="font-size:2.8vw;">SERVICES WE OFFER</div>
        <div class="p-2 in_txt">
            <ul >
                <li class="p-1">Construction and development </li>
                <li class="p-1">Interior (Renovation) Services </li>
                <li class="p-1">Project Management Consultant </li>
                <li class="p-1">Construction Manpower supply </li>
                <li class="p-1">HVAC (Designing and Execution) </li>
                <li class="p-1">Electrical (Designing and Execution) </li>
                <li class="p-1">Plumbing (Designing and Execution) </li>
                <li class="p-1">Fire-Fighting (Designing and Execution) </li>
            </ul>
        </div>
    </div>
    <div class="container p-4 text-center ">
        <img src="/static/images/download.webp" style="width:70vw;">
    </div>
    
</body>
</html>